# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- popular languages that Data Scientists use
- libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. Sql

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Scikit-learn

| Data Science Tools |
| :--- |
| Apache Spark |
| Jupyter Notebook |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Surya